.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-container form {
    max-width: 400px;
    margin: 0 auto;
}

.containerc h1 {
    text-align: center;
    font-size: 30px;
}

.form-container .input-field{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}
label {
    font-weight: bold;
    color: #777;
    font-size: 0.9rem;
}

input,
textarea {
    padding: 0.6rem;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

textarea {
    height: 120px;
}

.inputUser .icon{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.form-container .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recall-forget label {
    color: #000;

}

.recall-forget input {
    margin-right: 5px;
}

.recall-forget a, 
.signup-link p a {
    color: #000;
    text-decoration: none;
}

.recall-forget a:hover, 
.signup-link p a:hover {
    text-decoration: underline;
}

.form-container button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
}
.form-containerc button:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}

.form-container .signup-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px; 
    text-shadow: none;  
}

.signup-link p {
    text-shadow: none;
    font-weight: 520;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
